@use "../../assets/sass/variables" as *;

.nav__filterButton {
  background-color: $color-black;
  color: $color-white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 1) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card__button {
  background-color: $color-white;
  border: 2px $color-dark-grey solid;
  color: $color-black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 90px;
  height: 50px;
}

.beer-info__button {
  background-color: #4287f5;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}