@use "../../assets/sass/variables" as *;

.beer-info {
  margin-top: -20px;
  background-color: $color-white;
  min-height: 100vh;

  &__name {
    background-color: $color-black;
    color: $color-bright-white;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  &__container {
    padding-top: 80px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    height: 100%;

    &--left {
      background-color: $color-light-grey;
      margin: 20px 80px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      .beer-info__img {
        height: 400px;
        width: auto;
      }

      .beer-info__tagline {
        font-style: italic;
        text-align: center;
      }
    }

    &--right {
      padding: 10px 30px;

      .beer-info__container--sm {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px dotted $color-black;
        border-bottom: 1px dotted $color-black;
        padding: 10px 0;

        .beer-info__text {
          font-size: 20px;
          font-weight: 700;
          margin: 10px 60px;
          background-color: $color-black;
          color: $color-bright-white;
          text-align: center;
          width: 140px;
          padding: 10px 0;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 5px;

          &--ph {
            background-color: $color-blue;
          }
        }
      }

      .beer-info__btn-container {
        text-align: center;
        margin: 35px;
      }
    }
  }
}

@media (max-width: 1150px) {
  .beer-info__container--left {
    margin: 20px;
  }
}

@media (max-width: 850px) {
  .beer-info__container--left {
    margin: 10px;

    .beer-info__img {
      height: 300px;
      width: auto;
    }
  }
}

@media (max-width: 750px) {
  .beer-info__container {
    grid-template-columns: 1fr;

    &--left {
      margin: 30px 100px 0 100px;
    }
  }
}

@media (max-width: 590px) {
  .beer-info__text {
    margin: 10px 30px !important;
  }
}

@media (max-width: 460px) {
  .beer-info__container--sm {
    flex-direction: column;
  }

  .beer-info__container--left {
    margin: 20px;
  }
}

@media (min-width: 560px) {
  .beer-info {
    padding-top: 49px;
    margin-top: 0;

    &__name {
      position: fixed;
    }
  }
}
