@use '../../assets/sass/variables' as *;

.nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;

    &__img {
        height: 70px;
        width: auto;
    }
}