@use "../../assets/sass/variables" as *;

.nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__img {
    height: 70px;
    width: auto;
  }

  &__header {
    text-align: center;
    color: $color-black;
  }
}

@media screen and (min-width: 560px) {
  .nav {
    position: fixed;
    z-index: 1;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__header {
      display: none;
    }
  }
}
